@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: beige;
  font-family: "Outfit", sans-serif;
  color: #1f1f1f;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 64px;
  font-weight: 900;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0;
  border: 2px solid #f77f00;
  margin: 20px auto;
  background-color: white;
  max-width: 900px;
}

.square {
  border: 2px solid #f77f00;
  border-radius: 50px;
  padding: 30px 15px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  background-color: white;
  cursor: pointer;
  line-height: 1;
  margin: 10px 5px;
}

.squareTrick {
  background-color: #fff3b0;
  color: #c1121f;
  border: 6px solid #c1121f;
  font-size: 42px;
  padding: 15px 5px;
}

.square h3 {
  text-align: center;
  font-size: 26px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

#dice {
  text-align: center;
  margin: 30px;
}

button {
  cursor: pointer;
  background-color: #c1121f;
  font-family: "Outfit", sans-serif;
  color: white;
  border: none;
  border-radius: 120px;
  width: 130px;
  min-height: 120px;
  font-weight: 700;
}

button:hover {
  background-color: #a8101a;
}
