@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: beige;
  font-family: "Outfit", sans-serif;
  color: #1f1f1f;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 64px;
  font-weight: 900;
  position: relative;
  top: 16px;
  z-index: 1;
  pointer-events: none;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: #c1121f;
  font-family: "Outfit", sans-serif;
  color: white;
  border: none;
  border-radius: 120px;
  width: 130px;
  min-height: 120px;
  font-weight: 700;
  cursor: pointer;
  margin: 100px;
}

button:hover {
  background-color: #a8101a;
}
